<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"
	id="cordova-plugin-sugarizeros" version="0.1">

  <name>Cordova Sugarizer OS Plugin</name>
  <author>Jeremie Amsellem</author>
  <description>
  </description>
  <keywords>cordova, sugarizer, sugarizeros</keywords>

  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>

  <js-module src="sugarizeros.js" name="sugarizerOsPlugin">
    <clobbers target="window.sugarizeros" />
  </js-module>

  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="SugarizerOSPlugin">
	<param name="android-package" value="org.sugar_labs.sugarizeros" />
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <activity android:label="Sugarizer OS" android:launchMode="singleTop" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:keepScreenOn="true" android:windowSoftInputMode="adjustResize" android:name="org.sugar_labs.sugarizeros.MainActivity">
      </activity>
    </config-file>

    <source-file src="android/MainActivity.java" target-dir="src/sugarizeros/cordova/plugin/sugarizeros" />
  </platform>

</plugin>
