<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"
	id="cordova-plugin-sugarizeros" version="0.1">

  <name>Cordova Sugarizer OS Plugin</name>
  <author>Jeremie Amsellem</author>
  <description>
  </description>
  <keywords>cordova, sugarizer, sugarizeros</keywords>

  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>

  <js-module src="sugarizeros.js" name="sugarizerOsPlugin">
    <clobbers target="window.sugarizeros"/>
  </js-module>

  <platform name="android">
    <hook type="before_plugin_install" src="hooks/hook.sh" />

    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    </config-file>
    
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <application
	  android:launchMode="singleTask"
	  android:clearTaskOnLaunch="true"
	  android:stateNotNeeded="true">
      </application>
    </config-file>
    
    <config-file target="AndroidManifest.xml" parent="/manifest/application/activity">
      <intent-filter>
	<action android:name="android.intent.action.MAIN" />
	<category android:name="android.intent.category.HOME" />
	<category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </config-file>
    
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="SugarizerOSPlugin">
	<param name="android-package" value="com.sugar_labs.sugarizeros"/>
      </feature>
      <plugin name="Echo" value="org.apache.cordova.plugin.Echo" />
    </config-file>
    
    <source-file src="android/MainActivity.java" target-dir="src/org/olpcfrance/sugarizer"/>
  </platform>
</plugin>
